body, td, a, p, .h{
    font-family: arial,sans-serif;  
    
}

.content{
    padding-bottom:35px;
}

.center-children{
    text-align:center;
}

.parent{
    position:relative;
}

.child{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#gb{
    position: fixed;
    top:16px;
    width:100%;
    min-width:980px;
    z-index:103;
    font-size: 13px;
}

.navbar{
    list-style-type:none;
    margin:0;
    padding:0;

}

#hplogo{
    padding-top:100px;
}

li{
    display: inline;
}

#htpl{
    position: absolute;
    margin: 7px 0 0 10px;
}

#htpl a{
    display:inline-block;
    padding-left:15px;
    color:#000;
    opacity:0.75;
}

a:hover, a:active{
    text-decoration: underline;
}

.gb_g .gb_zg{
    float:right;
}

#footer{
    bottom: 0px;
    font-size: 10pt;
    height:35px;
    position: absolute;
    width:100%;
    background-color: rgba(238, 235, 235, 0.87);
}

.gb_0a{
    padding-left: 30px;
    padding-right: 30px;
    text-align: right;
    align-items:center;
    display: inline-flex;
    float: right;

}

.gb_f .gb_e{
    line-height:45px;
    outline:none;
    vertical-align:middle;
    margin: 15px 15px;
}

.gb_b{
    background-color: rgba(16, 108, 247, 1);
    border: 1px solid rgba(0, 96, 240, 1);
    color: #f2f2f2;
    font-weight: bold;
    height: 100%;
  
}



#gb#gb a.gb_d, #gb#gb a.gb_e,#gb#gb span.gb_e{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

#search_container{
    height: 45px;
}


#searchform{
    width: 500px;
    border-radius: 24px;
    border: 1px solid #f2f2f2;
    height: 100%;
}

#searchbar{

    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: text;
    width:450px;
    padding: 0 0 0 0;
    height: 100%;
    font-size:15px;

}

#searchbuttons{
    margin-top: 10px;
}

.button{
    border-radius: 1px;
    margin-left: 15px;
    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
}