body, td, a, p, .h{
    font-family: arial,sans-serif;  
}

.center-children{
    text-align:center;
}

.parent{
    position:relative;
}

.child{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#gb{
    position: fixed;
    top:16px;
    width:100%;
    min-width:980px;
    z-index:103;
    font-size: 13px;
}

.navbar{
    list-style-type:none;
    margin:0;
    padding:0;

}

li{
    display: inline;
}

#htpl{
    position: absolute;
    margin: 7px 0 0 10px;
}

#htpl a{
    display:inline-block;
    padding-left:15px;
    color:#000;
    opacity:0.75;
}

a:hover, a:active{
    text-decoration: underline;
}

.gb_g .gb_zg{
    float:right;
}

.gb_0a{
    padding-left: 30px;
    padding-right: 30px;
    text-align: right;
    align-items:center;
    justify-content: flex-end;

}

.gb_f .gb_e{
    display:inline-block;
    line-height:24px;
    outline:none;
    vertical-align:middle;
}

.gb_Ag{
    white-space: nowrap;
}

.gb_Ag, .gb_g{
    margin-left:0 !important;
    margin-right:0 !important;
}

#gb#gb a.gb_d, #gb#gb a.gb_e,#gb#gb span.gb_e{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}